.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	display: inline-block;
	vertical-align: top;
	background-color: white;
	height: fit-content;
	margin: 20px 20px;
	border-radius: 8px;
	width: fit-content;
	max-width: 600px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.text_container {
	margin: 20px 20px;
}

.text_container h1,
.text_container p {
	margin: 10px 0;
}

.button {
	display: inline-block;
	background: transparent;
	border-color: transparent;
	text-transform: capitalize;
	color: #49a6e9;
	font-size: 1rem;
	cursor: pointer;
	padding-left: 0.25rem;
}
